.outerBox{
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    /* background: linear-gradient(45deg,  rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%); */
    /* padding-bottom: 0; */
}
.logoDiv{
    display: flex;
}
.logoDiv img{
    width: 100%;
}
.signinDiv{
    cursor: pointer;
    font-size: 25px;
    width: 125px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    color: black;
    border-radius: 15px;
    /* align-items: center; */
    height: 40px;
    /* text-align: center; */
    justify-content: center;
}


@media screen and (max-width:760px){
    .logoDiv img {
        width: 50%;
    }
    .signinDiv{
        font-size: 20px;
        width: 95px;
        height: 30px;
    }
}